body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}

nav ul > li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.question-type-select {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
}

.question-type-select > li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.question-type-select > li.active {
  background-color: lightblue;
  border-radius: 5px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.avatar-small {
  height: 20px;
  border-radius: 25px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.signinBtn {
  margin-top: 10px;
}

.logoutLbl {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #aaa;
}

nav a.active {
  background-color: lightblue;
}

.question {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: white;
}

.question-view-container {
  margin: 20px 0 10px 0;
}

.question-view {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid lightblue;
}

.question-view:hover {
  background-color: lightblue;
}

.question-author {
  padding: 0 0 10px 10px;
}

.question-result-option {
  padding: 10px;
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid lightblue;
  margin-bottom: 10px;
  margin-top: 10px;
}
.question-result-option-sum {
  padding: 10px;
  background-color: lightblue;
  margin: 10px 0 0 10px;
  border-radius: 10px;
}

.new-question {
  border: 1px solid lightblue;
  padding: 10px;
  border-radius: 10px;
}

.new-question-input {
  padding: 10px 0px 10px 5px;
  border: 1px solid lightblue;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
}
.new-question-input-divider {
  margin: 10px 0 10px 0;
  font-size: 16px;
  font-weight: bold;
}

.new-question h3 {
  margin: 0 0 10px 0;
  padding: 0;
}

.new-question-submit {
  margin-top: 10px;
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: lightblue;
  font-size: 16px;
  padding: 10px 50px 10px 50px;
  cursor: pointer;
}

.leaderboard-item {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-around;
  background-color: aliceblue;
  border: 1px solid lightblue;
  border-radius: 10px;
  padding: 5px;
}

.leaderboard-item-img-avatar {
  height: 50px;
}

.leaderboard-item-rank {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 50px;
}

.leaderboard-item-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.leaderboard-item-answered,
.leaderboard-item-questions,
.leaderboard-item-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leaderboard-item-stats-label {
  margin-right: 50px;
}

.leaderboard-item-stats {
  border: 1px solid cadetblue;
  padding: 0 10px 0 10px;
  border-radius: 10px;
}

.leaderboard-item-total {
  font-weight: bold;
}

.leaderboard-item-total .leaderboard-item-stats-value {
  border: 1px solid lightsteelblue;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
  background-color: lightsteelblue;
  margin-bottom: 5px;
}

.question-poll-submit {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid lightblue;
  margin-top: 10px;
  cursor: pointer;
}

.question-poll-submit:hover {
  background-color: lightblue;
}

.question-poll-heading {
  font-size: 20px;
}

.question-poll-element {
  padding: 10px;
  font-size: 18px;
}
