body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}

nav ul > li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.avatar-small {
  height: 20px;
  border-radius: 25px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.signinBtn {
  margin-top: 10px;
}

.logoutLbl {
  cursor: pointer;
}
